footer.footer#contact
  .container
    .footer-body
      .email-list
        a href="mailto:innoawards@geekpark.net" innoawards@geekpark.net
      .copyright
        .date
          | &copy;&nbsp;
          = Time.now.year
          | &nbsp;GeekPark All Right Reserved
        .icp 京 ICP 备 13016923 号 - 2
