header.header
  .container.header-content
    - if request.path =~ /^\/products/
      a.logo href=innoawards_url style="height:55px"
        = image_tag("innoawards/2017/logo.png", title: "logo")
    - else
      a.logo href=innoawards_url
        = image_tag("innoawards/2016/logo.png", title: "logo")
      nav.nav.js-nav
        a.item href=hash_absolute_url("#about") 评选介绍
        a.item href=hash_absolute_url("#agenda") 颁奖典礼
        a.item href=hash_absolute_url("#vote") 获奖产品
        a.item.mobile-hidden href=hash_absolute_url("#press") 评选报道
        a.item href=hash_absolute_url("#partners") 合作伙伴
      a.menu-btn.js-menu-btn href="javascript:;"
        i.iconfont.icon-column
        i.iconfont.icon-close
