.product-list.js-product-list
  - award.ranks.order(order: :asc, vote: :desc).each_with_index do |rank, index|
    .product-item
      .flip-wrapper
        .cover.cover-front
          a.title.iconfont href=product_path(id: rank.product.id, award_id: award.id) target="_blank"
            |#{rank.product.name}
          .logo style="background-image: url(#{rank.product.logo.url})"
        .cover.cover-back
          .title
            | 投资机构
          .inst-list
            -rank.product.recommended_platform.each do |re|
              .item=re
        - if rank.product.recommended_platform.length > 0
          .js-product-mask.product-mask
      - if rank.order == 1
        .award-tag
      /a.vote-btn.js-rank-vote data-rank-id=rank.id data-name=rank.product.name data-thumb=rank.product.logo.url href="javascript:;"
      /  | 投票
