.container
  .ui.borderless.menu
    .item.header
      | 产品库
    a.item.ui.button href=new_admin_product_a_path data-no-turbolink="true"
      | 添加
    .item
      | 产品共计#{ProductA.count}个
    .right.item
      .ui.icon.input#search-input data-url=search_admin_product_as_path
        input type='text' placeholder='关键字' v-model='keyword' v-on="keyup: submit | debounce 300"
        i.search.icon
  .ui.borderless.menu#filter-section
    .item.header 筛选
    .item
      label 类型：
      .ui.selection.dropdown
        input type='hidden' name='category' v-model='category'
        i.dropdown.icon
        .default.text 不限
        .menu
          .item data-value='internet_software' 互联网软件
          .item data-value='internet_hardware' 互联网硬件
    .item
      label 融资阶段：
      .ui.selection.dropdown
        input type='hidden' name='financing' v-model='financing'
        i.dropdown.icon
        .default.text 不限
        .menu
          - %w(未融资 天使轮 A轮 B轮 C轮 D轮 已上市).each do |msg|
            .item data-value=msg =msg
    .item
      .ui.blue.button v-on="click: submit" 筛选

  table.ui.celled.padded.table
    thead
      tr
        th.one.wide
          | logo
        th.three.wide
          | 名称
        th.two.wide
          | 类型
        th.two.wide
          | 融资阶段
        th.two.wide
          | 合作关系
        th.two.wide
          | 更新时间
        th.two.wide
          | 更新者
        th.two.wide
          | 操作
    tbody#products-list
      tr v-repeat="p in products"
        td
          img src="{{p.logo}}" class='logo'
        td
          ="{{p.name}}"
        td
          ="{{p.category}}"
        td
          ="{{p.financing}}"
        td
          ="{{p.cowork}}"
        td
          ="{{p.updated_at}}"
        td
          ="{{p.user}}"
        td
          a href="{{p.edit_path}}"
            | 编辑
          | /
          a href="{{p.path}}" data-method="delete"
            | 删除

  = paginate @product_as
