= form_for [:admin, @news], html: { class: 'ui form' } do |f|
  .required.field
    = f.label :title, '标题'
    = f.text_field :title
  .field
    = f.label :url, '链接'
    = f.text_field :url
  .field
    = f.label :cover, '封面图片'
    = f.file_field :cover
    = hidden_field_tag "news[newsable_type]", params[:type]
    = hidden_field_tag "news[newsable_id]", params[:id]
  .field
    = f.submit '提交', class: 'ui blue button'
