.container
  table.ui.celled.table
    tbody
      tr
        td
          | 标题
        td = @news.title
      tr
        td
          | 链接
        td 
          a href=@news.url
            = @news.url
      tr
        td
          | 封面图片
        td
          = image_tag @news.cover.try(:url)
      tr
        td
          | 类型
        td
          = @news.newsable_type
      tr
        td
          | 发布时间
        td = @news.created_at.strftime("%Y/%m/%d %H:%M")
      tr
        td
          | 操作
        td
          a href=edit_admin_news_path(@news)
            | 编辑
          | |
          a href=admin_news_path(@news) data-method='delete'
            | 删除
