.ui.borderless.vertical.menu
  a.item.header href=admin_innoaward_path(inno)
    i.home.icon
    | Innoawards
  a.item href=admin_innoaward_products_path(inno)
    | 报名产品
  a.item href=admin_innoaward_awards_path(inno)
    | 奖项管理
  .item
    | 投票统计
    .menu
      - inno.awards.each do |award|
        a.item href="#{ranks_admin_innoaward_path(inno)}?award_id=#{award.id}"
          = award.name
  /a.item href=(admin_news_index_path + '?type=' + inno.class.to_s + '&id=' + inno.id)
    /| 新闻管理
  a.item href=partners_admin_innoaward_path(inno) data-no-turbolink=''
    | 合作伙伴
