.container
  = form_for [:admin, @innoaward], html: { class: 'ui form', id: 'new-form'} do |f|
    .required.field
      = f.label :year, '年份'
      = f.text_field :year
    .required.field
      = f.label :title, '标题'
      = f.text_field :title
    .field
      = f.label :header_images, '轮播头图(请上传1-3张轮播头图)'
    .field
      #previews.previews
        .pic-item v-repeat="picItems" class="item-{{$index}}"
          .image-preview
            img v-on='click: triggerInput' src="http://7xiwib.com1.z0.glb.clouddn.com/upload_img_base.png"
          = f.file_field :header_images, multiple: false, name: 'innoaward[header_images][]', 'v-on' => 'change: showThumb', class: 'upload-input hidden', accept: 'image/*'
          = text_field_tag "innoaward[header_descs][]", '', placeholder: '添加描述', class: 'upload-label'
          a.edit-image v-on='click: triggerInput' href="javascript:;" 【 重选 】
          a.remove-image v-on='click: removePreviews($index)' href="javascript:;" 【 移除 】
        a.add-image v-on='click: addPreviews' href="javascript:;"
          .add-image-cont
            span.icon +
            span
              | 【添加一张图】
    .field
      = f.label :about, '关于评选'
      = f.text_area :about
    .field
      = f.label :rule, '评选规则'
      = f.text_area :rule
    - schedule = @innoaward.schedule
    .inline.field
      = label_tag 'innoaward[schedule[apply_start]]', '报名开始'
      = date_field_tag 'innoaward[schedule[apply_start]]', schedule['apply_start']
      = label_tag 'innoaward[schedule[apply_stop]]', '报名结束'
      = date_field_tag 'innoaward[schedule[apply_stop]]', schedule['apply_stop']
    .inline.field
      = label_tag 'innoaward[schedule[select_start]', '筛选开始'
      = date_field_tag 'innoaward[schedule[select_start]', schedule['select_start']
      = label_tag 'innoaward[schedule[select_stop]', '筛选结束'
      = date_field_tag 'innoaward[schedule[select_stop]', schedule['select_stop']
    .inline.field
      = label_tag 'innoaward[schedule[vote_start]', '投票开始'
      = date_field_tag 'innoaward[schedule[vote_start]', schedule['vote_start']
      = label_tag 'innoaward[schedule[vote_stop]', '投票结束'
      = date_field_tag 'innoaward[schedule[vote_stop]', schedule['vote_stop']
    .inline.field
      = label_tag 'innoaward[schedule[ceremony_start]', '颁奖开始'
      = date_field_tag 'innoaward[schedule[ceremony_start]', schedule['ceremony_start']
      = label_tag 'innoaward[schedule[ceremony_stop]', '颁奖结束'
      = date_field_tag 'innoaward[schedule[ceremony_stop]', schedule['ceremony_stop']
    .ui.divider
    .field
      = f.submit '提交', class: 'ui blue button'
