.container
  .ui.borderless.menu
    .item.header
      | 创新产品评选
    a.item.ui.button href=new_admin_innoaward_path
      | 添加

  table.ui.celled.padded.table
    thead
      tr
        th
          | 年份
        th
          | 标题
        th
          | 操作
    tbody
      - @innoawards.each do |inno|
        tr
          td
            = inno.year
          td
            a href=admin_innoaward_path(inno)
              = inno.title
          td
            a href=edit_admin_innoaward_path(inno) data-no-turbolink=''
              | 编辑
            | /
            a href=admin_innoaward_path(inno) data-method='delete' data-confirm='确认删除？'
              | 删除

  = paginate @innoawards
