.container
  .ui.grid
    .row
      .four.wide.column
        = render partial: 'sidebar', locals: { inno: @innoaward }
      .twelve.wide.column
        .ui.borderless.menu
          .header.item
            = @award.name
        table.ui.celled.padded.table
          thead
            tr
              th.one.wide
                | LOGO
              th.six.wide
                | 候选产品
              th.two.wide
                | 得票
              th.five.wide
                | 操作
              th.two.wide
                | 排序
            tbody
              - @ranks.each do |rank|
                tr
                  td
                    = image_tag rank.product.logo.url || 'default_logo.jpg', class: 'logo'
                  td
                    a href=admin_innoaward_product_path(@innoaward, rank.product)
                      = rank.product.name
                  td
                    = rank.vote
                  td
                    a href=edit_admin_innoaward_product_path(@innoaward, rank.product)
                      | 编辑
                    | \
                    a href=admin_rank_path(rank) data-method='delete'
                      | 移除候选
                  td
                    .ui.form
                      input.update-order name='order' value=rank.order data-url=admin_rank_path(rank)

