.container
  .ui.grid
    .row
      .four.wide.column
        = render partial: 'sidebar', locals: { inno: @innoaward }
      .twelve.wide.column#partial
        .detail
          table.ui.celled.padded.table
            thead
              tr
                th colspan='2'
                  | 创新产品评选大会信息
            tbody
              tr
                td.two.wide
                  | 年份
                td
                  = @innoaward.year
              tr
                td
                  | 标题
                td
                  = @innoaward.title
              tr
                td
                  | 头图
                td
                  - @innoaward.header_images.each do |image|
                    .pic-item.ui.form
                      .image-preview
                        = image_tag image.file.url
                      = text_field_tag "desc", '',placeholder: '添加描述',  value: image.desc, class: 'image-desc'
                      a.desc-save-btn href="javascript:;" data-href= admin_innoaward_image_path(innoaward_id: image.imageable_id, id: image.id)
                        | 【 保存 】
                      a.image-destroy href=admin_innoaward_image_path(innoaward_id: image.imageable_id, id: image.id) data-method="delete"
                        | 【 删除 】
                  = file_field_tag :file, id: 'image-input', class: 'hidden'
                  a#upload-image.add-image href="javascript:;" data-href= admin_innoaward_images_path(@innoaward)
                    .add-image-cont
                      span.icon +
                      span
                        | 【添加一张图】
              tr
                td
                  | 日程
                td
                  .ui.small.steps
                    .step
                      = "报名开始：#{@innoaward.schedule['apply_start']}"
                    .step
                      = "报名结束：#{@innoaward.schedule['apply_stop']}"
                    .step
                      = "筛选开始：#{@innoaward.schedule['select_start']}"
                    .step
                      = "筛选结束：#{@innoaward.schedule['select_stop']}"
                  .ui.small.steps
                    .step
                      = "投票开始：#{@innoaward.schedule['vote_start']}"
                    .step
                      = "投票结束：#{@innoaward.schedule['vote_stop']}"
                    .step
                      = "颁奖开始：#{@innoaward.schedule['ceremony_start']}"
                    .step
                      = "颁奖结束：#{@innoaward.schedule['ceremony_stop']}"
    .row
      .four.wide.column
      .twelve.wide.column
        a.ui.blue.button href=edit_admin_innoaward_path(@innoaward) data-no-turbolink=''
          | 编辑
        a.ui.red.button href=admin_innoaward_path(@innoaward) data-method='delete' data-confirm='确认删除？'
          | 删除
