.top-detail-bg.wrap
  .container
    .top-detail
      .logo-area-wrapper
        .logo-area
          .award-label
            h3 年度
            .award-name =@award.name
          .product-logo
            .logo style="background-image: url(#{@product.logo&.url})"
            .angle
              = @award.winers.map(&:id).include?(@product.id) ? '获奖' : '候选'
      .detail-area
        .product-name
          span.title =@product.name
          /a.vote-btn.js-rank-vote data-rank-id=@rank.id data-name=@product.name data-thumb=@product.logo.url href="javascript:;"
          /  | 投票
        .product-classify
          span 分类：
          span=t("activerecord.attributes.product.category.#{@product.category}")
        .product-summary ="\"#{@product.summary}\""
        .js-product-wrapper.product-wrapper
          .product-des =@product.description
          .other-aside
            .ellipsis ......
            .unfold-btn

        - unless @product.evaluation.blank?
          .editor-rank
            .title
              | 编辑点评
              span.hidden-xs ：
            .content =@product.evaluation
    .product-summary-mobile ="\"#{@product.summary}\""

.product-screenshots.container
  #screenshots-container.swiper-container data-category=@product.category class="#{@product.category == 'app' ? 'is-app' : ''}"
    .swiper-wrapper
      - @product.screenshots.each do |ss|
        .swiper-slide
          img src="#{ss.url}?imageView2/2/w/1240/"
    .swiper-pagination.screenshots-pagination
    .swiper-button-prev.screenshots-button-prev
    .swiper-button-next.screenshots-button-next
  .js-product-wrapper.product-mobile-wrapper
    .product-des =@product.description
    .other-aside
      .ellipsis ......
      .unfold-btn

.product-other
  .container
    .title
      i.iconfont.icon-king
      | 其他奖项应用
    .other-content
      #other-container.swiper-container
        .swiper-wrapper
          - @other_products.each do |product|
            .swiper-slide
              a.item href=product_path(id: product.id, award_id: @award.id)
                .product-logo
                  .logo style="background-image: url(#{product.logo&.url})"
                .product-info
                  .name =product.name
                  .more-btn 查看详情
      .swiper-button-prev.other-button-prev
      .swiper-button-next.other-button-next

.product-commnet
  .container
    .title
      i.iconfont.icon-comment
      | 用户评论
= render 'shared/duoshuo'
