section.vote#vote
  = render partial: 'innoawards/2016/share/titlebar', locals: { cn: '获奖产品', en: 'VOTE', order: '2' }
  .container
    /p.hint 大众投票已结束，1 月 2 日公布获奖产品，敬请期待
  .vote-body.container
    .award-wrapper.js-award-wrapper
      - @awards.each_with_index do |award, index|
        a.item href="javascript:;" class="#{index == 0 ? 'active' : ''}"
          | 年度#{award.name}
    #vote-container.vote-container
      .swiper-wrapper
        - @awards.each do |award|
          .swiper-slide
            = render partial: 'innoawards/2016/share/product_list', locals: { award: award }
  .container.warning
    p 获得公众投票最多的产品，Innoawards 将为其颁发「年度最佳人气」奖；
    p 获得极客公园投票最多的产品，Innoawards 将为其颁发「年度编辑推荐」奖；
    p 最后，对行业和社会作出突出贡献的产品，Innoawards 将为其颁发「年度杰出贡献」奖。
