footer.footer#contact
  .container
    .left-cont.dib-middle
      .copyright
        | &copy;&nbsp;
        = Time.now.year
        | &nbsp;GeekPark All Right Reserved
      .email-list
        a href="mailto:innoawards@geekpark.net" innoawards@geekpark.net
      p.icp 京 ICP 备 13016923 号 - 2
    .social.dib-middle.hidden-xs
      a.icon.geekpark href="http://www.geekpark.net" target="_blank" title="极客公园官网"
      a.icon.wechat href="javascript:;" title="微信二维码"
        .wechat-qr
      a.icon.weibo href="http://weibo.com/geekpark" target="_blank" title="官方微博"
