header.header
  .container
    a.logo href=innoawards_url
      = image_tag("innoawards/logo.png", title: "logo")
    nav.nav
      a.item href=hash_absolute_url("#about") 关于评选
      a.item href=hash_absolute_url("#awards-list") 奖项设置
      a.item href=hash_absolute_url("#rule") 评选规则
      a.item href=hash_absolute_url("#schedule") 评选日程
      a.item href=hash_absolute_url("#history") 历史回顾
      a.item href="http://www.geekpark.net/collections/InnoAwards" target="_blank" 往届报道
      a.item href=hash_absolute_url("#contact") 联系我们
      a.item.geekchoice href="http://geekchoice.geekpark.net" target="_blank" 极客之选
