section.agenda#agenda
  = render partial: 'innoawards/2016/share/titlebar', locals: { cn: '颁奖典礼', en: 'TIMELINE', order: '1' }
  .container.agenda-content
    .agenda-body
      .agenda-nav.js-agenda-nav
        a.item.active href="javascript:;"
          .item-info
            .a-label 评选报名
            .a-date 2016.09.20
        a.item href="javascript:;"
          .item-info
            .a-label 奖项审核
            .a-date 2016.11.19
        a.item href="javascript:;"
          .item-info
            .a-label 大众投票
            .a-date 2016.11.24
        a.item href="javascript:;"
          .item-info
            .a-label 颁奖典礼
            .a-date 2017.01.15
      #agenda-list-container.agenda-list-container
        .swiper-wrapper
          .swiper-slide.selection
            .selection-info
              h4.highlight 报名条件
              p 2016年内上线、或有重大更新、或有瞩目成长、或有杰出成就的产品和公司
              p 涉足领域包括但不限于APP、智能硬件、技术解决方案、微信公众号品牌
              p 原创内容品牌、生活消费产品/品牌、开放平台等
              /a.apply.btn-fade.js-goto-vote href="javascript:;"
              /  | 去投票
              /  i.iconfont.icon-arrow
              /  i.iconfont.icon-arrow
          .swiper-slide.audit
            .audit-info
              h4.highlight 极客公园评委会如何进行审核？
              p 极客公园评委会由极客公园编辑部 / 行研部成员构成
              p 根据该款产品2016年度在产品模式、技术能力、市场表现
              p 商业成就、社会影响等多维度的表现进行综合评分
              p 最终评选出创新产品TOP50
          .swiper-slide.vote
            .vote-info
              h4.highlight 公众如何参与投票？
              p TOP50榜单公布后，随即启动大众投票
              p 登陆InnoAwards官方网站，即可参与投票
              p 每人每天一次投票机会，每次可为多款产品进行投票
              p 但24小时内无法对同一产品重复投票
              p TOP50榜单将于2016年11月24日发布
              h4.highlight 如何计分？
              p 每个奖项之下，将分别有3-5款产品入围TOP50
              b 公众票选计分：
              p 根据获得的公众投票票数从高至低，分别计分10分、8分、6分、4分、2分。
              b 极客公园评委会评分：
              p 根据获得的极客公园评委会成员投票票数从高至低，分别计分10分、8分、6分、4分、2分。
              b 最终得分：
              p 公众票选计分*40% + 极客公园评委会计分*60% = 最终得分，得分最高者为该奖项最终获奖者
          .swiper-slide.ceremony
            #ceremony-container.ceremony-container
              #ceremony-pagination.ceremony-pagination
              .swiper-wrapper
                - @history_review.each do |item|
                  .swiper-slide.product-wrapper data-year=item['year']
                    - item['products'].each do |product|
                      .product
                        .p-icon style="background-image:url(#{product['logo']}?imageView2/2/w/240)"
                        .p-name =product['name']
                        .p-type =product['type']
