/- awards = [ \
/  { name: '创新产品', desc: 'InnoAwards 年度大奖「年度创新产品」为最具创新力、最具颠覆力、最具影响力的产品授予最高的荣誉。' },
/  { name: '技术创新', desc: '我们始终相信技术的力量，而技术创新也正是最根本、最有力量的创新，「年度技术创新」给予坚定信奉「技术力量」并有所重要突破的创新产品团队。' },
/  { name: '智慧硬件', desc: '超越硬件本身，依托更智慧的能力构建新的连接节点，才是我们即将要迈向的新世界，「年度智慧硬件」，给予在运算能力与数据能力方面，最出色的硬件产品团队。' },
/  { name: '创新设计', desc: '我们认为，「设计」是产品「创造力」的系统表达，「年度创新设计」，给予坚定追求「品质与美好」，并将之变为现实的创新产品团队。' },
/  { name: '原创内容品牌', desc: '内容依托各类新型平台，以新的产品承载形态正在释放新的生命力，「年度原创内容品牌」，给予在内容价值观、内容质量、与内容影响力方面，获得瞩目成就的内容产品团队' },
/  { name: '创业新星', desc: '我们始终期待在新的领域中诞生，最具速度、最有潜力的「未来头条」，「年度创业新星」，给予在产品模式上有所创新突破，并稳步发展增长的创业团队。' },
/  { name: '社会效率推动者', desc: '除了探索可能性的边界，我们也同样在乎技术是否让整个社会的运行更有效率，「年度社会效率推动者」，给予通过技术手段加速社会基础服务运行效率，并创造巨大改变的产品团队' },
/  { name: '创造力品牌', desc: '能够获得品牌溢价和品质溢价，是一个产品能够获得的最高的市场认可，「年度创造力品牌」，给予在品牌策略和品牌影响力方面，具有核心竞争力的产品团队。' },
/  { name: '进化成长', desc: '跳离传统路径，以非常规的方式获得「加速度」，在进程中不断演进，不断成长，「年度进化成长」，给予在产品形态、发展模式、外部影响力等方面，获得明显进化与成长的产品团队' },
/  { name: '变革力量', desc: '跳出思维的模板，跨越规则的限制，颠覆不是直接目的，释放价值才是最终要抵达的远方，「年度变革者」，给予在商业模式、运营模式上有所创新突破，并释放影响力的产品团队' },
/  { name: '潮流创造者', desc: '如果能够改变潮流的方向，必然需要「力量」与「智慧」兼具，「年度潮流创造者」，给予通过创造力的方式，创造潮流、引爆流行的产品团队。' },
/]

section.awards#awards
  = render partial: 'innoawards/2016/share/titlebar', locals: { cn: '奖项设置', en: 'AWARDS', order: '1' }
  .awards-content
    .container
      .awards-list
        - @innoaward.awards.each do |award|
          .item
            .award-option
              .icon-logo
              .award-name
                p 年度
                p=award[:name]
            .award-desc
              .award-label.highlight
                span.iconfont.icon-medal
                span 年度
                span=award[:name]
              p=award[:description]
