section.banner#about
  .container
    .banner-content
      .vis-wrapper
        i.vis.js-anima.viselem-01
        i.vis.js-anima.viselem-02
        i.vis.js-anima.viselem-03
        i.vis.js-anima.viselem-04
        i.vis.js-anima.viselem-05
        i.vis.js-anima.viselem-06
        i.vis.js-anima.viselem-07
        i.vis.js-anima.viselem-08
        i.vis.js-anima.viselem-09
      .banner-logo
      .intro-wrapper.flex-wrapper
        .introduction
          .chunk
            P 唯有科技与创造能超越平凡！
          .chunk
            p 互联网开启的更广阔的「世界」，远远超越了一块屏幕所能界定的宽度
            p 科技所激发的更多可能性，也让产品创新远远超越了用代码所撰写的单一维度
          .chunk
            p 极客们的好奇心和改变力正在释放到更广阔的领域，他们追逐「创新」，就像追逐「日光」
            p 因为唯有科技与创造能超越平凡，而那些不平凡的产品恰恰在推动世界的前进
          .chunk
            p 不是每一个产品都能永远流行，不是每一个公司都能改变世界
            p 但每一次创新、每一次尝试都值得被铭记
          .chunk
            p 一年一度，让我们继续用这个视角观察世界
            p 为优秀的产品鼓掌，为创新者欢呼
          .chunk
            p.highlight INNOVATION ROCKS ！
        /a.apply.btn-fade.js-goto-vote href="javascript:;"
        /  | 去投票
        /  i.iconfont.icon-arrow
        /  i.iconfont.icon-arrow
