- order = browser.device.mobile? ? '3' : '4'

section.partners#partners
  = render partial: 'innoawards/2016/share/titlebar', locals: { cn: '合作伙伴', en: 'PARTNERS', order: order }
  .container
    .partners-body
      - @partners.each do |partner|
        h4=partner['category']
        .partner-wrapper
          - partner['detail'].each do |item|
            a.partner-link href=item['url'] target='_blank'
              img.js-lazy src=item['logo']
