section.press#press
  = render partial: 'innoawards/2016/share/titlebar', locals: { cn: '评选报道', en: 'PRESS', order: '3' }
  .container
    #press-container.press-container
      .swiper-wrapper
        .swiper-slide
          .chunk.one-chunk
            - @topics.first(3).each do |topic|
              .item-wrapper
                .item
                  a.press-img href="#{topic['url']}" target="_blank"
                    img.js-lazy src=topic['cover']
                  a.title href="#{topic['url']}" target="_blank"
                   | #{ topic['title'] }
        .swiper-slide
          .chunk.two-chunk
            - @topics.last(3).each do |topic|
              .item-wrapper
                .item
                  a.press-img href="#{topic['url']}" target="_blank"
                    img.js-lazy src=topic['cover']
                  a.title href="#{topic['url']}" target="_blank"
                    | #{ topic['title'] }
    #press-prev.swiper-button-prev
    #press-next.swiper-button-next
