.product-share.js-product-share
  .share-wrapper
    a.iconfont.icon-weibo.share-btn href="javascript:;" data-type="weibo"
    a.iconfont.icon-weichat.share-btn href="javascript:;" data-type="weichat"
    a.iconfont.icon-twitter.share-btn href="javascript:;" data-type="twitter"
  a.share-close href="javascript:;"
    | 取消
