- awards = @awards.rank(:row_order).each_slice(3).to_a
section.vote#vote
  = render partial: 'innoawards/2016/share/titlebar', locals: { cn: '获奖产品', en: '', order: '2' }
  .container
    /.hint
    /  p 大众投票已结束，1 月 2 日公布获奖产品，敬请期待
  .vote-body
    - awards.each do |award|
      .vote-filed
        .container.vote-filed-container
          - award.each do |x|
            .vote-item
              .award-info
                .icon-logo
                .award-option
                  .award-name
                    p
                      | 年度
                    p=x.name
                  .award-desc
                    p=x.description
              = render partial: 'innoawards/2016/share/product_list', locals: { award: x }
  .container.warning
    /p 获得公众投票最多的产品，Innoawards 将为其颁发「年度最佳人气」奖；
    /p 获得极客公园投票最多的产品，Innoawards 将为其颁发「年度编辑推荐」奖；
    /p 最后，对行业和社会作出突出贡献的产品，Innoawards 将为其颁发「年度杰出贡献」奖。
    p 获得最多公众投票，「年度最佳人气奖」的得主是：Philm。
    p 获得极客公园投票最多，「年度编辑推荐奖」的得主是：Hover Camera Passport。
    p 那些拥有更多潜力和更多未来可能性的产品和团队，2017 年我们的目光应该更多投向他们。获得「 2017 最值得关注产品奖」的是：「星域 CDN」、「淘宝问大家」、「车伯乐」。
    p 用自己的方式释放出影响力，为互联网带来别样生机和活力，获得「极客影响力特别奖」的是：「今日头条寻人」、「微信小程序」。
