.container
  .ui.grid
    .column
      table.ui.celled.table
        thead
          tr
            th colspan='2'
              | 产品信息
        tbody
          tr
            td.four.wide
              | 产品LOGO
            td.twelve.wide
              = image_tag @product.logo.url || 'default_logo.jpg'
          tr
            td
              | 产品名称
            td
              = @product.name
          tr
            td
              | 产品网址
            td
              = @product.url
          tr
            td
              | 产品简介
            td
              = @product.summary
          tr
            td
              | 产品截图
            td
              - @product.screenshots.each do |ss|
                = image_tag ss.url ,class: 'product-pics'
          tr
            td
              | 上线时间
            td
              = @product.published_at
          tr
            td
              | 产品描述
            td
              = @product.description
          tr
            td
              | 产品类别
            td
              = @product.category
          tr
            td
              | 推荐平台
            td
              = @product.recommended_platform
          tr
            td
              | 微信ID
            td
              = @product.wechat
          tr
            td
              | 微博ID
            td
              = @product.weibo
          tr
            td
              | 联系人姓名
            td
              = @product.c_name
          tr
            td
              | 联系人公司/职位
            td
              = @product.c_corp + ' / ' + @product.c_position
          tr
            td
              | 联系人邮箱
            td
              = @product.c_email
          tr
            td
              | 联系人电话
            td
              = @product.c_mobile
          tr
            td
              | 编辑点评
            td
              = @product.evaluation
      .column
        a.ui.blue.button href=edit_admin_product_path(@product)
          | 编辑
        a.ui.red.button href=admin_products_path(@product) data-method='delete' data-confirm='确认删除？'
          | 删除
