section.about#about
  .container
    h2.section-title 关于评选
    .p-typeset
      p 不是每一个产品都能永远流行，不是每一个公司都能改变世界，但每一次创新、每一次勇敢尝试都值得被铭记。
      p 由极客公园发起的中国互联网创新产品评选（InnoAwards）是一年一度针对中国互联网产品创新的评选活动。我们希望通过这个领域的从业者，以及众多希望看到优秀产品的用户的共同努力，选出这一年里最值得被鼓励并获得荣誉的创新产品。
      p 2015年中国互联网创新产品评选除了继续对产品的各个重要维度进行评定以外，将更加注重对本年度内热门行业和产品的关注，以认可这些领域所取得的成就。比如，让人们的日常生活发生巨大改变的O2O生活服务；让企业的经营效率大幅提升的生产力工具；以及降低互联网从业者开发成本的各种云服务。
      p 让生活更便利，让商业更快捷，也是创新的一种有效表现。
    .num-desc
      .item.left
        span.num 6
        span.cont 年积淀
      .item.middle
        span.num 2000+
        span.cont 参选产品
      .item.right
        span.num 1,000,000+
        span.cont 投票
