section.awards-list#awards-list
  ul.container
    .row.awards-list-row
      .col-xs-6
        li.item.big-box
          .a-center-trans.title
            .badge
            h3
              | 年度
              br
              | 创新产品
          p.a-center-trans.award-desc.big 年度大奖，颁发给年内极具创新力、赢得广泛用户好评的产品
      .col-xs-6
        .row.h50
          .col-xs-12
            li.item
              .a-center-trans.title-info.title
                .badge
                h3
                  | 年度
                  br
                  | 创业新星
              p.a-center-trans.award-desc.little-big 在本年度内新成立的创业公司，拥有出色的成长表现
        .row.h50
          .col-xs-6
            li.item
              .a-center-trans.title
                .badge
                h3
                  | 年度
                  br
                  | 创新硬件
              p.a-center-trans.award-desc 在智能硬件领域有所创新，并能够应用到实际生活中
          .col-xs-6
            li.item
              .a-center-trans.title
                .badge
                h3
                  | 最具
                  br
                  | 发展潜力
              p.a-center-trans.award-desc 初创产品或公司，但已具备很大的发展潜力和上升空间
    .row.awards-list-row
      .col-xs-6
        .row.h50
          .col-xs-6
            li.item
              .a-center-trans.title
                .badge
                h3
                  | 最优
                  br
                  | 生活服务
              p.a-center-trans.award-desc 在生活服务领域表现优秀，对人们的生活产生改变和影响
          .col-xs-6
            li.item.line-deep-light
              .a-center-trans.title
                .badge
                h3
                  | 最佳
                  br
                  | 用户体验
              p.a-center-trans.award-desc 凭借整体完善的产品架构和设计，让用户获得优质的使用感观和体验
        .row.h50
          .col-xs-6
            li.item.line-light
              .a-center-trans.title
                .badge
                h3
                  | 最佳
                  br
                  | 技术创新
              p.a-center-trans.award-desc 通过技术的创新让产品能力得到较大提升
          .col-xs-6
            li.item
              .a-center-trans.title
                .badge
                h3
                  | 最佳
                  br
                  | 年度成长
              p.a-center-trans.award-desc 本年度内成长速度快、发展势头强劲的公司和产品
      .col-xs-6
        .row.h100
          .col-xs-6
            li.item
              .a-center-trans.title
                .badge
                h3
                  | 最佳
                  br
                  | 产品设计
              p.a-center-trans.award-desc 产品的用户体验优秀，拥有高质量的界面和交互设计
          .col-xs-6
            li.item.h50
              .a-center-trans.title
                .badge
                h3
                  | 最佳
                  br
                  | 企业级服务
              p.a-center-trans.award-desc 为企业提供稳定高效的云服务
            li.item.h50
              .a-center-trans.title
                .badge
                h3
                  | 最佳
                  br
                  | 生产力工具
              p.a-center-trans.award-desc 用互联网工具提升企业或团队的生产效率，解决沟通和协同需求
