section.banner.relative
  .banner-content
    .dib-top.badge
    .dib-top.tal
      h1.banner-common.title
        | 中国互联网
        br
        | 创新产品评选
      h2.banner-common.desc 让最好的产品获得最高的荣誉
      h3.banner-common.eng-desc The Highest Honor For Best Products
      a.btn.theme-btn.apply#go-apply href="#vote" 获奖产品
    / .gif-tip
      / | 2016.1.15 - 17 InnoAwards颁奖盛典 暨 2016极客公园创新大会 TOP GEEK巅峰论坛，敬请期待！
      / a target="_blank" href="http://gif.geekpark.net" 详情>
