section.history#history
  h2.section-title 历史回顾
  .container#history-review
    .list-btn
      - @history_review.each do |item|
        a.btn.theme-btn { href="javascript:;"
          v-class="current: current === #{item['year']}"
          v-on="click: changePanel(#{item['year']})" }
          = item['year']
    .list-cont
      - @history_review.each do |item|
        div class="year_#{item['year']}" v-show="current === #{item['year']}" v-transition="history-year"
          - item['products'].each do |product|
            .product
              .icon-mask
                img.a-center-trans.icon src="#{image_url("innoawards/history_review/#{item['year']}/#{product['icon']}")}?imageView2/2/w/240"
              .name =product['name']
              .type =product['type']
