section.partner#contact
  .section-title 推荐机构
  .container
    - @partners.each do |cat|
      - cat['detail'].each do |item|
        a.partner-link href=item['url'] target='_blank'
          img.a-center-trans src=item['logo']
