section.rule#rule
  h2.section-title 评选规则
  .container.p-typeset
    p 参与报名的产品和公司必须在2015年内上线或者有重大更新，并通过评选活动官网提交相关资料。报名时间持续2个月，在报名截止后，由InnoAwards评委会选出本年度的创新产品50强。
    p 50强产品公布后，开始接受为期一个月的公众、专家评委和极客公园编辑部投票。投票结束后，将根据具体的计算方法确定最终的11个奖项。在票选期间，我们还将选择多个城市举行创新产品城市路演，参选产品可以报名参加路演活动。
    p 最终获奖名单在2016年1月举办的GIF极客公园创新大会上公布，届时会获得高度的媒体关注和公众认可。
    .tac
      a.detail-link href="/投票规则.pdf" target="_blank" 详细投票规则
      a.detail-link href="/专家评委名单.pdf" target="_blank" 专家评委名单
