section.schedule#schedule
  h2.section-title 评选日程
  .container
    .status-bar
    .item.first.on
      .desc
        span 报名
      .date
        span.hidden-xs.hidden-sm 2015.
        | 9.28
        span.hidden-xs ～
        br.hidden-sm.hidden-md.hidden-lg
        | 11.22

    .item.second.on
      .desc
        span 审核
      .date
        span.hidden-xs.hidden-sm 2015.
        | 11.23
        span.hidden-xs ～
        br.hidden-sm.hidden-md.hidden-lg
        | 11.29
    .item.third.on
      .desc
        span 投票
      .date
        span.hidden-xs.hidden-sm 2015.
        | 11.30
        span.hidden-xs ～
        br.hidden-sm.hidden-md.hidden-lg
        | 12.31

    .item.fourth.on
      .desc
        span 颁奖
      .date
        span.hidden-xs.hidden-sm 2016.
        | 1.16
        span.hidden-xs ～
        br.hidden-sm.hidden-md.hidden-lg
        | 1.17
