.ui.blue.borderless.inverted.menu style="background-color: #0095EA"
  .container.admin-header
    a.item style="height: 45px; padding: 3px 0 0 0;" href="http://www.geekpark.net" target="_blank"
      = image_tag('default_logo.jpg', height: '45')
    a.item href='/admin'
      | 管理首页
    a.item href='http://www.geekpark.net/admin'
      | 主站后台
    a.item href='http://events.geekpark.net/admin'
      | 活动站后台
    .right.item
      - if current_user
        .logo
          image src=current_user.avatar
        a href=logout_path data-method='delete'
          | 注销
      - else
        a href=login_path
          | 登陆
