.ui.visible.sidebar.inverted.vertical.menu
  .item
    | 元信息管理 
    .menu
      a.item href=admin_innoawards_path
        | 创新产品评选
      a.item href=admin_product_as_path
        | 产品库
      a.item href=admin_news_index_path
        | 新闻管理
