html
  head
    title 极客公园管理后台
    = Gon::Base.render_data
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags

  body class="admin #{params[:controller].sub(/\//, '-')} #{params[:controller].sub(/\//, '-') + '-' + params[:action]}"
    .ui.grid
      .two.wide.column
        = render 'admin/layouts/sidebar'
      .fourteen.wide.column
        .pusher
          = render 'admin/layouts/header'
          = yield
    = render 'admin/layouts/footer'

    = javascript_include_tag 'admin/admin', 'data-turbolinks-track' => true
