.top-detail-bg.wrap
  .container
    .row.top-detail
      .col-md-2.logo-area
        img.product-logo src="#{image_url(@product.logo.url || 'default_logo.jpg')}"
        .product-category =t("activerecord.attributes.product.category.#{@product.category}")
        .product-links.mt10
          a.dib-middle.btn.weibo href=absolute_url(@product.weibo) target="_blank" 微博
          a.dib-middle.btn.offcial href=absolute_url(@product.url) target="_blank" 官网
      .col-md-10.detail-area
        .product-name
          span.title =@product.name
          h2.summary =@product.summary
        .product-des =@product.description
        - unless @product.evaluation.blank?
          .editor-rank
            .title
              | 编辑点评
              span.hidden-xs ：
            .content =@product.evaluation
.product-screenshots.container
  .swiper-container#show-page-slider
    .swiper-wrapper
      - @product.screenshots.each do |ss|
        .swiper-slide
          img src=image_url(ss.url)
    .swiper-pagination
    .swiper-button-prev
    .swiper-button-next

= render 'shared/duoshuo'
