= render "top_banner"
.container.page-container.tac
  i.glyphicon.glyphicon-ok.success-icon
  .page-title 您的产品信息已经成功提交！
  .success-info
    | 我们将在报名截止后对所有报名产品进行筛选，确定最终进入候选阶段的产品名单，届时我们将与您进一步联系。
    br
  .success-info
    | 如有疑问，请联系我们
    a href="mailto:innnoawards@geekpark.net"
      | innoawards@geekpark.net
    | 感谢您的参与。
