doctype html
html lang="en"
  head prefix="og: http://ogp.me/ns#"
    title 今年最棒的50款产品都在这儿了，为TA们投上你宝贵的一票吧！
    link rel="shortcut icon" href="/favicon.ico"
    meta charset='utf-8'
    meta name="renderer" content="webkit"
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta content='initial-scale=1.0,maximum-scale=1.0,width=device-width,user-scalable=no' name='viewport'
    meta name="description" content="让最好的产品获得最高的荣誉！由极客公园发起的年度中国互联网创新产品评选（InnoAwards）已经开始啦，如果你认为自己拥有创新的力量，那就速速报上名来~"
    meta name="keywords" conttent="极客公园,创新,2015,innoawards,中国互联网创新产品评选,评选"
    meta name="twitter:card" content="summary_large_image"
    meta name="twitter:site" content="@geekparknet"
    meta name="twitter:creator" content="@geekparknet"
    meta name="twitter:image" content=image_url('innoawards/2015/summary.jpg')
    meta property="og:url" content=request.original_url
    meta property="og:title" content="好产品都到碗里来！报名2015 InnoAwards创新产品评选，让大家一起为你点赞！"
    meta property="og:description" content="让最好的产品获得最高的荣誉！由极客公园发起的年度中国互联网创新产品评选（InnoAwards）已经开始啦，如果你认为自己拥有创新的力量，那就速速报上名来~"
    meta property="og:image" content=image_url('innoawards/2015/summary.jpg')
    = Gon::Base.render_data
    javascript:
      gon.shareIMG = "#{image_url('innoawards/2015/summary.jpg')}"
    /[if lt IE 10]
      = javascript_include_tag 'upbrowser'
    = stylesheet_link_tag 'innoawards/2015', :media => 'all'
    = csrf_meta_tags
  body class=(controller_name + ' ' + controller_name + '_' + action_name)
    / wechat share icon
    img style="position: absolute; opacity: 0; z-index: 0; width: 100px;" src="https://o185dmv7p.qnssl.com/innoawardsshare-icon.jpg"
    img style="position: absolute; opacity: 0; z-index: 0; width: 100px;" src=image_url('innoawards/2015/summary.jpg?imageView2/2/w/700')
    = render 'innoawards/shared/header'
    = yield
    = render 'innoawards/shared/footer'

    = javascript_include_tag "application"

    = render 'shared/ga'

    - if Rails.env.production?
      = javascript_include_tag "dist/#{controller_name}.js"
    - else
      script src="http://127.0.0.1:8080/dist/#{controller_name}.js"

    - if Rails.env.production?
      .share-gotop#share-gotop
        a.go-top.group-btn.icon-arrow-up#go-top href="javascript:;"
        = render 'shared/share'


    / weinre debug
    / script src="http://192.168.199.182:8081/target/target-script-min.js#anonymous"
