.container
  = form_for [:admin, @innoaward, @award], html: { class: 'ui form' } do |f|
    .required.field
      = f.label :name, '名称'
      = f.text_field :name
    .field
      = f.label :summary, '简介'
      = f.text_field :summary
    .field
      = f.label :description, '描述'
      = f.text_field :description
    .required.field
      = f.label :innoaward_id, '年份(创新产品评选)'
      = f.select :innoaward_id, options_from_collection_for_select(@innoawards, 'id', 'year', @award.innoaward.id), {}, class: 'ui selection dropdown'
    .field
      = f.submit '提交', class: 'ui blue button'
