.container
  .ui.grid
    .row
      .four.wide.column
        = render partial: 'admin/innoawards/sidebar', locals: { inno: @innoaward }
      .twelve.wide.column
        .ui.borderless.menu
          .header.item
            | 奖项管理
          a.item.ui.button href=new_admin_innoaward_award_path(@innoaward)
            | 添加
        table.ui.celled.padded.table
          thead
            tr
              th.six.wide
                | 名称
              th.four.wide
                | 简介
              th.two.wide
                | 年份
              th.four.wide
                | 操作
          tbody
            - @awards.each do |award|
              tr
                td
                  a href="#{ranks_admin_innoaward_path(@innoaward.id)}?award_id=#{award.id}"
                    = award.name
                td = award.summary
                td
                  a href=admin_innoaward_path(award.innoaward)
                    = award.year
                td
                  a href=edit_admin_innoaward_award_path(innoaward_id: @innoaward.id, id: award.id)
                    | 编辑
                  |/
                  a href=admin_innoaward_award_path(innoaward_id: @innoaward.id, id: award.id) data-method='delete' data-confirm='是否确认删除？'
                    | 删除
                  |/
                  a href=change_order_admin_innoaward_award_path(id: award.id, method_name: 'up') data-method='patch'
                    | 上移
                  |/
                  a href=change_order_admin_innoaward_award_path(id: award.id, method_name: 'down') data-method='patch'
                    | 下移
        = paginate @awards
