.container
  table.ui.celled.table
    thead
      tr
        th colspan='2'
          = @award.innoaward.title
    tbody
      tr
        td
          | 奖项
        td = @award.name
      tr
        td
          | 简介
        td = @award.summary
      tr
        td
          | 描述
        td = @award.description
      tr
        td
          | 年份
        td = @award.year
      tr
        td
          | 操作
        td
          a href=edit_admin_award_path(@award)
            | 编辑
          | |
          a href=admin_award_path(@award) data-method='delete'
            | 删除
  h4.ui.horizontal.divider.header
    | 入围产品
  .ui.eight.cards
    - @award.ranks.each do |r|
      - pro = r.product
      a.card href=admin_product_path(pro)
        .image
          = image_tag pro.logo.url || 'default_logo'
        .content
          .header
            = pro.name
          .meta
            span.date
              = "上线时间：#{pro.published_at.strftime("%Y/%m/%d")}"
        .extra.content
          | 得票数：
          i.thumbs.up.icon
          = r.vote
